@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Kablammo&family=Roboto+Condensed&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


.projects-container {
  background-color: #021828;
  color: white;
  padding: 50px;
  min-height: calc(100vh - 70px);
  /* Subtract the height of the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  text-align: center; 
}

.projects-title {
  margin-bottom: 40px;
  font-family: 'Silkscreen', cursive;
}

.project {
  display: flex;
  align-items: center;
  border: 2px solid rgb(255, 84, 3);
  height:  500px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 50px;
  background-color: #021d2fd0;
  animation: glowing 2s ease-in-out infinite; 
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px 0 rgba(255, 84, 3, 0.7);
  }
  50% {
    box-shadow: 0 0 8px 5px rgba(255, 84, 3, 0.9);
  }
  100% {
    box-shadow: 0 0 3px 0 rgba(255, 84, 3, 0.7);
  }
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-image {
  width: 246px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.project-image-wide {
  width: 500px;
}

.project-details {
  text-align: left;
  margin-left: 30px;
}

.project-title {
  font-size: 24px;
  color: rgb(255, 84, 3);
  margin-bottom: 10px;
  margin-top: 0;
  font-family: 'Bungee', cursive;
}

.project-description {
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}


.link-container {
    perspective: 800px;
  }
  
  .project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #021828;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-10px);
    font-family: 'Silkscreen', cursive;
  }
  
  .project-link::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    transform: translateZ(-8px);
    pointer-events: none;
    transition: opacity 1s;
    opacity: 1;
  }
  
  .project-link:hover {
    transform: translateY(-2px) translateZ(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: orange;
    color: black;
  }
  
  .project-link:hover::before {
    opacity: 0;
  }
  